static/css/*
!static/css/lib/*

*.swp
.sass-cache
.DS_Store
.my.cnf

# github premade rules
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Maven
target

# Ruby
!parsers/ruby/lib

# Ctags
*/tags
log
