@import variables

.bg
    $img-height: 650px

    position: fixed
    width: 100%
    left: 0
    z-index: -1

    &#img-1
        background: url("../img/about/bg1.png") no-repeat
        background-size: cover
        height: 400px
        top: 0px

    &#img-2
        background: url("../img/about/bg2.png") no-repeat
        height: $img-height
        top: 480px

    &#img-3
        background: url("../img/about/bg3.png") no-repeat
        background-size: cover
        height: $img-height + 200
        top: 1200px

div.section
    background-color: white
    border: 1px solid $baseColor2
    height: 300px
    margin-top: 300px
    padding: 20px

    &#top
        margin-top: 0px

    div.centered
        margin-left: auto
        margin-right: auto
        width: 50%

        h1
            color: $baseColor1
