@import variables

div#message
    color: $baseColor1
    font-family: monospace
    font-size: 700%
    font-weight: normal
    margin-top: 8%
    text-align: center

    span
        &#error-num
            font-size: 170%
            vertical-align: middle

        &.c1
            color: $baseColor1

        &.c2
            color: $baseColor2

        &.c3
            color: $baseColor3
