= extends "layout.html"

= block title
  docs
= endblock

= block body
  <h1>Usage</h1>
  <p>
    bitshift is a search-engine optimized for source code: beyond supporting searches with the full range of ASCII
    symbols, the engine <em>understands</em> code, allowing users to query for metadata, like time of creation/last
    modification, programming language, and even symbols like function names and variables. Basic use boils down to
    general and advanced searches.

    <h2>general search</h2>
    <p>
      To perform a "general search," simply place your cursor in the search bar on our home page and begin typing; when
      you stop typing for a short period of time, we'll automtically execute a query for you. As you scroll down the
      results page, the front-end will query our server and seamlessly load more and more results.
    </p>

    <h2>advanced search</h2>
    <p>
      General searches, though, are limited. To allow users to make the best of our engine, we created an advanced
      search form that allows the creation of complex queries.

      <h3>search fields</h3>
      <p>
      </p>

      <h3>search groups</h3>
      <p></p>
    </p>
  </p>

  <h1>Handwritten Queries</h1>
  <p></p>

  <h1>Get involved</h1>
  <p></p>
= endblock
