= extends "layout.html"

= block title
  Home
= endblock

= block head
  {{ assets.tag("index.css") }}
  {{ assets.tag("lib/highlight.css") }}
  {{ assets.tag("jquery.min.js") }}
= endblock

= block body
  <div id="search-field">

    <div id="title">
      <span id="title-bit">bit</span
      ><span id="title-angle">&laquo;</span
      ><span id="title-shift">shift</span>
    </div>

    <form id="search-bar">
      <input type="text" name="query">
      <div id="advanced-search">

        <!-- Tags are closed on the following line to remove whitespace between divs. -->
        <div id="col1">
          + Add group
        </div><div id="col2">
          <div id="upper-half">
            <div id="col1">
              <ul>
                <li>
                  <label for="languages">Languages</label>
                  <input type="text" name="languages" id="languages"><br>
                </li>

                <li>
                  <label for="authors">Authors</label>
                  <input type="text" name="authors" id="authors"><br>
                </li>

              </ul>

            </div><div id="col2">
              <ul>
                <li>
                  <label for="date">Date last modified</label>
                  <input type="text" name="date-last-modifi id="date"ed">
                </li>

                <li>
                  <label for="date">Date created</label>
                  <input type="text" name="date-creat id="date"ed">
                </li>

              </ul>
            </div>
          </div>

          <div id="lower-half">
            <ul>
              <li>
                <label for="symbols">Symbols</label>
                <input type="text" name="symbols" id="symbols"><br>
              </li>

              <li>
                <label for="functions">Functions</label>
                <input type="text" name="functions" id="functions"><br>
              </li>

              <li>
                <label for="classes">Classes</label>
                <input type="text" name="classes" id="classes"><br>
              </li>

              <li>
                <label for="variables">Variables</label>
                <input type="text" name="variables" id="variables"><br>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div id="results">
  </div>

  {{ assets.tag("index.js") }}
= endblock
