= extends "layout.html"

= block title
  Home
= endblock

= block head
  {{ assets.tag("lib/jqueryui.custom.min.css") }}
  {{ assets.tag("lib/jquery.min.js") }}
  {{ assets.tag("lib/jquery-ui.min.js") }}
  {{ assets.tag("lib/typeahead.bundle.min.js") }}

  {{ assets.tag("index.css") }}

  <script>
    TYPEAHEAD_LANGUAGES = {{ typeahead_languages | safe }};
  </script>
= endblock

= block body
  <div id="search-field" class="partly-visible">
    <a id="title" href="/">
      <div id="title">
        <span id="title-bit">bit</span
        ><span id="title-angle">&laquo;</span
        ><span id="title-shift">shift</span>
      </div>
    </a>

    <form id="search-bar">
      <input type="text" name="query"
      ><button id="advanced-search" title="advanced search">
        <img src="static/img/search_bar_magnifying_glass.png">
      </button>

      <div id="advanced-search">
        <div id="sidebar">
          <div>
            Fields
          </div>
          <ul>
            <li>
              <input type="checkbox" id="language"/>
              <label for="language"><div>languages</div></label>
            </li>
            <li>
              <input type="checkbox" id="author"/>
              <label for="author"><div>authors</div></label>
            </li>
            <li>
              <input type="checkbox" id="modified"/>
              <label for="modified"><div>date last modified</div></label>
            </li>
            <li>
              <input type="checkbox" id="created"/>
              <label for="created"><div>date created</div></label>
            </li>
            <li>
              <input type="checkbox" id="symbol"/>
              <label for="symbol"><div>symbols</div></label>
            </li>
            <li>
              <input type="checkbox" id="function"/>
              <label for="function"><div>functions</div></label>
            </li>
            <li>
              <input type="checkbox" id="class"/>
              <label for="class"><div>classes</div></label>
            </li>
            <li>
              <input type="checkbox" id="variable"/>
              <label for="variable"><div>variables</div></label>
            </li>
          </ul>
          <button id="add-group">
            <!-- <div> -->
              +
            <!-- </div> -->
          </button>
        </div>
        <div id="search-groups">
          <div class="search-group">
            <div>
              <div>Authors</div>
              <input type="text">
              <input type="checkbox" name="regex"><span>Regex?</span>
            </div>
            <div>
              <div>Language</div>
              <input type="text">
              <input type="checkbox" name="regex"><span>Regex?</span>
            </div>
          </div>
          <div class="search-group">Hello, world. 2</div>
          <div class="search-group">Hello, world. 3</div>
          <div class="search-group">Hello, world. 4</div>
          <div class="search-group">Hello, world. 5</div>
          <div class="search-group">Hello, world. 6</div>
          <div class="search-group">Hello, world. 7</div>
          <div class="search-group">Hello, world. 8</div>
          <div class="search-group">Hello, world. 9</div>
          <div class="search-group">Hello, world. 10</div>
          <div class="search-group">Hello, world. 11</div>
          <div class="search-group">Hello, world. 12</div>
          <div class="search-group">Hello, world. 13</div>
          <div class="search-group">Hello, world. 14</div>
          <div class="search-group">Hello, world. 15</div>
          <div class="search-group">Hello, world. 16</div>
          <div class="search-group">Hello, world. 17</div>
          <div class="search-group">Hello, world. 18</div>
          <div class="search-group">Hello, world. 19</div>
          <div class="search-group">Hello, world. 20</div>
          <div class="search-group">Hello, world. 21</div>
          <div class="search-group">Hello, world. 22</div>
        </div>
      </div>
    </form>
  </div>

  <div id="results"></div>

  {{ assets.tag("index.js") }}
= endblock
