<!DOCTYPE html>
<!-- Global layout template, to be inherited by other project HTML files. -->

<html>
  <head>
    <title>
      = block title
      = endblock
    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <meta name="description" content="bitshift is a source code search engine."/>
    <meta name="keywords" content="source code language search engine"/>
    <meta name="author" content="Benjamin Attal Ben Kurtovic Severyn Kozak"/>

    {{ assets.tag("main.css") }}

    = block head
    = endblock
  </head>
  <body>
    <div id="container">
      <div id="header">
      </div>

      <div id="body">
        <div id="center">
          = block body
          = endblock
        </div>
      </div>

      <div id="footer">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/developers">developers</a>
        <p>
          &copy; 2012-2013 bitshift. <span>All Rights Reserved.</span>
        </p>
      </div>
    </div>
  </body>
</html>
